*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(130deg,#E0AFA0,#F4F3EE);
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2{
  color: #1b1b1b;
}
.quiz-container{
  min-width: 40vw;
  background-color: #fff;
  height: fit-content;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 10px;
  margin-inline: 10px;
}
.quiz-answers{
  margin-top: 1.5rem;
}
button{
  padding: 12px;
  border: 1px solid #ddd;
  margin: 10px 0;
  display: block;
  width: 100%;
  text-align: left;
  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  transition: .2s ease-out;
}
button:hover{
  background-color: green;
  color: white;
}
.next-btn{
  width: fit-content;
  margin-inline: auto;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: green;
  color: white;
}
.correct{
  background-color: #62d795;
  color: black;
}
.incorrect{
  background-color: #f67575;
  color: black;
}